.--block { display: block; }
.--inline { display: inline; }
.--inline-block { display: inline-block; }

.--bold { font-weight: bold; }

.--full-width { width: 100%; }

.--faded { color: #888; }

.--centered { text-align: center; }

.--margin-auto { margin: auto; }

.--no-margin { margin: 0; }
.--no-margin-top { margin-top: 0 !important; }
.--no-margin-bottom { margin-bottom: 0 !important; }

p:last-child { margin-bottom: 0; }

@media (min-width: $screen-md-min) {
	.--no-margin-top-md { margin-top: 0 !important; }
	.--no-margin-bottom-md { margin-bottom: 0 !important; }
}

.--clear-fix {

	@media (max-width: $screen-xs-max)
	{
		@include grid-clearfix(xs);
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
	{
		@include grid-clearfix(sm);
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-md-max)
	{
		@include grid-clearfix(md);
	}

	@media (min-width: $screen-lg-min)
	{
		@include grid-clearfix(lg);
	}
}