.--padding-top,
.--padding-vertical,
.--padding
{
	padding-top: 5px;
}

.--padding-left,
.--padding-horizontal,
.--padding
{
	padding-left: 5px;
}

.--padding-bottom,
.--padding-vertical,
.--padding
{
	padding-bottom: 5px;
}

.--padding-right,
.--padding-horizontal,
.--padding
{
	padding-right: 5px;
}

.--padding-none { padding: 0; }