.bg-cashier { background-color: #91d630; }
.bg-dusk { background-color: #bb358b; }
.bg-echo { background-color: #4ab2b0; }
.bg-envoyer { background-color: #f56857; }
.bg-forge { background-color: #1eb786; }
.bg-homestead { background-color: #e7801c; }
.bg-horizon { background-color: #8c6ed3; }
.bg-jetstream { background-color: #6875f5; }
.bg-laravel { background-color: #ff2d20; }
.bg-lumen { background-color: #f6ae7a; }
.bg-mix { background-color: #294ba5; }
.bg-nova { background-color: #4099de; }
.bg-passport { background-color: #7dd9f2; }
.bg-scout { background-color: #f55d5c; }
.bg-socialite { background-color: #e394ba; }
.bg-spark { background-color: #f0c376; }
.bg-telescope { background-color: #4040c8; }
.bg-tinker { background-color: #ec7658; }
.bg-valet { background-color: #5e47cd; }
.bg-vapor { background-color: #25c4f2; }
.bg-vue { background-color: #41b883; }