// Styling for the navbar
.site-nav {

    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;

    .navbar-brand {
        color: $white;
        font-size: 1.5em;

        @include media-breakpoint-up(lg) {
            font-size: 1.75em;
        }
    }

    .navbar-nav {

        margin-top: 0;

        li.nav-item > a.nav-link {

            color: $white;

            &:hover,
            &:active,
            &:focus {
                text-decoration: underline;
            }

        }

    }

}