// Styling for the portfolio grid section
.portfolio {

    .portfolio-item {

        position: relative;
        display: block;
        border-radius: $border-radius;
        overflow: hidden;
        border: 3px solid $secondary;

        &:not(.w-100) {
            max-width: 25rem;
        }

        .portfolio-item-caption {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            transition: $transition-base;
            opacity: 0;
            background-color: fade-out($primary, 0.1);
            &:hover {
                opacity: 1;
            }
            .portfolio-item-caption-content {
                font-size: 1.5rem;
            }
        }

        .portfolio-item-icon {
            width: 4.5rem;
            height: 4.5rem;
            min-width: 4.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    .portfolio-item-lg {

        position: relative;
        display: block;
        border-radius: $border-radius;
        overflow: hidden;
        border: 3px solid $secondary;
        width: 100%;
        font-size: 1.25rem;

        .portfolio-item-icon {
            width: 9rem;
            height: 9rem;
            min-width: 9rem;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media-breakpoint-down(md) {
                width: 4.5rem;
                height: 4.5rem;
                min-width: 4.5rem;
            }

        }

        @include media-breakpoint-down(md) {
            font-size: inherit;
        }

    }

}

// Styling for the portfolio modals
.portfolio-modal {

    .portfolio-modal-heading {
        display: flex;
        align-items: center;
        border-bottom: 0.25rem solid $secondary;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }

    .portfolio-modal-title {

        font-size: 1.5rem;
        line-height: 1.5rem;

        @include media-breakpoint-up(md) {
            font-size: 2rem;
            line-height: 2rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 3rem;
            line-height: 3rem;
        }

    }

    .portfolio-modal-icon {

        display: flex;
        align-items: center;
        justify-content: center;

        width: 2rem;
        height: 2rem;
        padding: 0.25rem;

        @include media-breakpoint-up(md) {
            width: 3rem;
            height: 3rem;
            padding: 0.3rem;
        }

        @include media-breakpoint-up(lg) {
            width: 4.5rem;
            height: 4.5rem;
            padding: 0;
        }

    }

    .close {

        position: absolute;
        z-index: 1;
        top: 1rem;
        color: $primary;
        opacity: 1;
        background: $white;
        border: none;

        font-size: 1.5rem;
        line-height: 1.5rem;
        right: 1rem;

        @include media-breakpoint-up(md) {
            top: 1.25rem;
            font-size: 2rem;
            line-height: 2rem;
            right: 1rem;
        }

        @include media-breakpoint-up(lg) {
            top: 1.5rem;
            font-size: 3rem;
            line-height: 3rem;
            right: 1.5rem;
        }

    }
}
