@import 'tailwind';
@import 'variables';
@import 'vendor';

html {
	font-size: 14px;
	@apply .text-black;
}

h1 {
	@apply .mb-3 .mt-6 .font-normal .text-4xl;
}

h2 {
	@apply .font-normal .text-3xl .mb-6;
}

h3 {
	@apply .font-normal .text-2xl;
}

h4 {
	@apply .font-normal .text-sm;
}

a {
	color: #337ab7;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

hr {
	@apply .h-px .bg-light;
}

.square {
	@apply .w-4 .h-4;
}

.navbar-laravel {
	@apply .shadow;
}

@import "components";