/*
|--------------------------------------------------------------------------
| Navbar
|--------------------------------------------------------------------------
|
| The navbar allows us to provide a static site navigation from which we
| can expand to create full-width, fixed, and other navbar variations.
| This defines the base navbar, which all navbars will inherit from.
|
*/

.navbar {

    @apply .relative .flex .flex-wrap .items-center .justify-between .shadow .min-h-header .bg-white .z-20;
    padding: $navbar-padding-y $navbar-padding-x;

    // Navbars don't have to have containers within them, but if they do,
    // we need to give them special treatment. Since flex properties
    // aren't inherited, we'll have to redeclare them down here.

    > .container,
    > .container-fluid {
        @apply .flex .flex-wrap .items-center .justify-between;
    }

}


/*
|--------------------------------------------------------------------------
| Navbar Brand
|--------------------------------------------------------------------------
|
| The navbar brand is intended for displaying a brand, project, or site
| name. The brand should be easily identifiable, and be spaced apart
| from the actual site navigate. This will help the brand shine.
|
*/

.navbar-brand {

    @apply .inline-block .leading-inherit .whitespace-no-wrap;

    color: $navbar-light-brand-color;
    padding-top: $navbar-brand-padding-y;
    padding-bottom: $navbar-brand-padding-y;
    margin-right: $navbar-padding-x;

    @include font-size($navbar-brand-font-size);

    @include hover-focus {
        color: $navbar-light-brand-hover-color;
        text-decoration: none;
    }

}


/*
|--------------------------------------------------------------------------
| Navbar Nav
|--------------------------------------------------------------------------
|
| While the navbar is the wrapper around the site navigation, the nav
| within the navbar contains the actual list of links. We'll build
| this such that a navbar can have multiple navs, for alignment.
|
*/

.navbar-nav {

    @apply .flex .flex-col .pl-0 .mb-0;

    list-style: none;

    .nav-link {

        @apply .px-0;
        color: $navbar-color;

        @include hover-focus {
            color: $navbar-hover-color;
        }

        &.disabled {
            color: $navbar-disabled-color;
        }

    }

    .dropdown-menu {
        @apply .static .float-none;
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
        color: $navbar-active-color;
    }

}


/*
|--------------------------------------------------------------------------
| Navbar Text
|--------------------------------------------------------------------------
*/

.navbar-text {

    @apply .inline-block;

    padding-top: $nav-link-padding-y;
    padding-bottom: $nav-link-padding-y;
    color: $navbar-color;

    a {
        color: $navbar-active-color;

        @include hover-focus {
            color: $navbar-active-color;
        }
    }

}

@screen md {

    .md\:navbar-expand {

        flex-direction: row !important;

        .nav-link {
            padding-right: $navbar-nav-link-padding-x;
            padding-left: $navbar-nav-link-padding-x;
        }

    }

}

