.btn-naked,
.btn-bare
{
	background: none;
	border: none;
	color: inherit;

	&:active { box-shadow: none; }

	&:active:focus,	&:focus { outline: none; }
}

.btn-bare
{
	padding: 0;
}

.btn-highlight
{
	&:hover { color: #666; }
}