.container-flex
{
	display: flex;

	align-items: center;

	&.--space-between {
		justify-content: space-between;
	}

	&.--column {
		flex-direction: column;

		/* Add Vertical Spacing between Elements */
		& > * {
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.flex-1 { flex: 1; }