$skill-font-weight:                normal !default;

$skill-default-color:              #333 !default;
$skill-default-bg:                 #fff !default;

$skill-primary-color:              #fff !default;
$skill-primary-bg:                 $brand-primary !default;

$skill-success-color:              #fff !default;
$skill-success-bg:                 $brand-success !default;

$skill-info-color:                 #fff !default;
$skill-info-bg:                    $brand-info !default;

$skill-warning-color:              #fff !default;
$skill-warning-bg:                 $brand-warning !default;

$skill-danger-color:               #fff !default;
$skill-danger-bg:                  $brand-danger !default;