$font-color: #ddd;
$color-active: #5998CE;


#game-of-life {
	#game {
		width: 640px;
		margin: 0px auto;

		.wrapper {
			background: #000;

			width: 640px;
			height: 480px;
		}

		.canvas {
			user-select: none;
			cursor: default;
		}
	}

	.btn.active {
		background: $color-active;
	}
}

.navbar-game {
	background-color: #F8F8F8;
	border-color: #888;

	margin-bottom: 0;
	border-radius: 0;

	min-height: 0;

	.navbar-right {
		margin-right: 0;
	}
}

.navbar-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;

	border-width: 1px;
	border-style: solid;

	padding: 3px;

	.navbar-left,
	.navbar-right {
		display: flex;
		align-items: center;

		flex: 1;

		list-style: none;
		margin: 0;
		padding: 0;
	}

	.navbar-left {
		justify-content: flex-start;
		order: 0;

		li:nth-child(n+2) {
			margin-left: 3px;
		}
	}
	.navbar-right { justify-content: flex-end; order: 1; }
}

.navbar-top {
	border-bottom: none;
}